In [ ]:
# Importação das bibliotecas principais
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

# Configurações para melhor visualização
plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette('viridis')
plt.rcParams['figure.figsize'] = (12, 8)
plt.rcParams['font.size'] = 12

print("Bibliotecas importadas com sucesso!")

Bibliotecas importadas com sucesso!

In [ ]:
# Configurando a conexão com o Google Drive

from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/'

Mounted at /content/drive

In [ ]:
df = pd.read_csv(path+'funcionarios_empresa.csv')

In [ ]:
print("Primeiras 5 linhas do dataset:")
print(df.head())

Primeiras 5 linhas do dataset:
   ID_Funcionario                Nome  Idade Departamento  \
0               1  Tatiane Mendes 001     40       Vendas
1               2       Ana Silva 002     23    Marketing
2               3    Rafael Alves 003     36           TI
3               4     Carla Souza 004     32    Operações
4               5     Pedro Costa 005     33   Financeiro

                      Cargo  Salario  Tempo_Empresa_Meses Data_Admissao  \
0               Vendedor Jr  3685.36                    4    2025-05-18
1  Coordenador de Marketing  8081.03                    1    2025-08-16
2       Desenvolvedor Pleno  8491.98                    2    2025-07-17
3      Gerente de Operações  9745.30                    9    2024-12-19
4    Analista Financeiro Jr  3556.68                   63    2020-07-13

      Nivel_Educacao Estado_Civil Tipo_Contrato  Avaliacao_Performance  \
0  Superior Completo    Casado(a)           CLT                    4.8
1  Superior Completo  Solteiro(a)           CLT                    2.4
2      Pós-graduação  Solteiro(a)           CLT                    2.7
3       Ensino Médio    Casado(a)           CLT                    3.4
4      Pós-graduação  Solteiro(a)           CLT                    3.9

   Horas_Extras_Mes  Beneficios  Faltas_Ultimo_Ano  Satisfacao_Trabalho
0                 5      953.49                  1                  5.6
1                 7      964.51                  2                  5.2
2                 7      483.34                  4                  5.7
3                12      980.71                  1                  7.0
4                10     1031.64                  1                  6.5

In [ ]:
print("\n" + "="*50)
print("Informações gerais do dataset:")
print(df.info())

==================================================
Informações gerais do dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_Funcionario         500 non-null    int64
 1   Nome                   500 non-null    object
 2   Idade                  500 non-null    int64
 3   Departamento           500 non-null    object
 4   Cargo                  500 non-null    object
 5   Salario                500 non-null    float64
 6   Tempo_Empresa_Meses    500 non-null    int64
 7   Data_Admissao          500 non-null    object
 8   Nivel_Educacao         495 non-null    object
 9   Estado_Civil           500 non-null    object
 10  Tipo_Contrato          500 non-null    object
 11  Avaliacao_Performance  475 non-null    float64
 12  Horas_Extras_Mes       500 non-null    int64
 13  Beneficios             490 non-null    float64
 14  Faltas_Ultimo_Ano      500 non-null    int64
 15  Satisfacao_Trabalho    485 non-null    float64
dtypes: float64(4), int64(5), object(7)
memory usage: 62.6+ KB
None

In [ ]:
print("\n" + "="*50)
print("Dimensões do dataset:")
print(f"Linhas: {df.shape[0]}, Colunas: {df.shape[1]}")

==================================================
Dimensões do dataset:
Linhas: 500, Colunas: 16

In [ ]:
print("Estatísticas descritivas para variáveis numéricas:")
print(df.describe())

Estatísticas descritivas para variáveis numéricas:
       ID_Funcionario       Idade       Salario  Tempo_Empresa_Meses  \
count      500.000000  500.000000    500.000000            500.00000
mean       250.500000   35.764000   7780.120720             21.79600
std        144.481833    9.610673   4108.494711             22.63234
min          1.000000   19.000000   1170.990000              1.00000
25%        125.750000   29.000000   4446.787500              5.00000
50%        250.500000   35.000000   7167.265000             14.00000
75%        375.250000   41.000000   9846.422500             30.00000
max        500.000000   67.000000  37988.030000            120.00000

       Avaliacao_Performance  Horas_Extras_Mes   Beneficios  \
count             475.000000        500.000000   490.000000
mean                3.427368         10.370000   811.200224
std                 0.765589         11.298159   210.466584
min                 1.000000          0.000000   149.100000
25%                 2.900000          6.000000   669.267500
50%                 3.400000          8.000000   814.490000
75%                 3.900000         10.000000   967.770000
max                 5.000000         74.000000  1585.250000

       Faltas_Ultimo_Ano  Satisfacao_Trabalho
count         500.000000           485.000000
mean            1.958000             7.023093
std             1.359387             1.504018
min             0.000000             1.700000
25%             1.000000             6.100000
50%             2.000000             7.000000
75%             3.000000             8.200000
max             7.000000            10.000000

In [ ]:
print("\n" + "="*50)
print("Estatísticas descritivas para variáveis categóricas:")
print(df.describe(include=['object']))

==================================================
Estatísticas descritivas para variáveis categóricas:
                      Nome Departamento                     Cargo  \
count                  500          500                       500
unique                 500            7                        31
top     Tatiane Mendes 500       Vendas  Coordenador de Marketing
freq                     1          111                        26

       Data_Admissao     Nivel_Educacao Estado_Civil Tipo_Contrato
count            500                495          500           500
unique            86                  7            4             4
top       2025-08-16  Superior Completo    Casado(a)           CLT
freq              47                179          210           347

In [ ]:
if 'Preço' in df.columns:
    preco = df['Preço'].dropna()

    print("Medidas de Tendência Central para Preço:")
    print(f"Média: R$ {preco.mean():.2f}")
    print(f"Mediana: R$ {preco.median():.2f}")
    print(f"Moda: R$ {preco.mode().iloc[0]:.2f}")

    # Média aparada (trimmed mean) - remove 10% dos valores extremos
    media_aparada = stats.trim_mean(preco, 0.1)
    print(f"Média Aparada (10%): R$ {media_aparada:.2f}")
else:
    print("Coluna 'Preco' não encontrada no dataset")

Coluna 'Preco' não encontrada no dataset

In [ ]:
if 'Preço' in df.columns:
    preco = df['Preço'].dropna()

    print("Medidas de Dispersão para Preço:")
    print(f"Variância: {preco.var():.2f}")
    print(f"Desvio Padrão: R$ {preco.std():.2f}")
    print(f"Amplitude: R$ {preco.max() - preco.min():.2f}")

In [ ]:
if 'Salario' in df.columns:
    salario = df['Salario'].dropna()

    Q1 = salario.quantile(0.25)
    Q2 = salario.quantile(0.50)
    Q3 = salario.quantile(0.75)
    IQR = Q3 - Q1

    print(f"\nQuartis:")
    print(f"Q1 (25%): R$ {Q1:.2f}")
    print(f"Q2 (50% - Mediana): R$ {Q2:.2f}")
    print(f"Q3 (75%): R$ {Q3:.2f}")
    print(f"IQR (Intervalo Interquartil): R$ {IQR:.2f}")
else:
    print("Coluna 'Salario' não encontrada no dataset")

Quartis:
Q1 (25%): R$ 4446.79
Q2 (50% - Mediana): R$ 7167.26
Q3 (75%): R$ 9846.42
IQR (Intervalo Interquartil): R$ 5399.64